<?xml version="1.0" encoding="utf-8"?>
<Root>
    <LastPath LastDatabasePath="D:\gcblue\database" LastDatabaseFile="database.db" LastCSVPath="D:\gcblue\dbeditor\CSV's"/>
    <PageState>
        <Page Table="sub" ItemName="Yushio(1987)"/>
        <Page Table="ship" ItemName="Pr 12322 Zubr"/>
        <Page Table="ground" ItemName="9K33M2 OSA-AK"/>
        <Page Table="air" ItemName="F-16A/B"/>
        <Page Table="simpleair" ItemName="Yak-38M"/>
        <Page Table="radar" ItemName="Romb"/>
        <Page Table="sonar" ItemName="Type 2150 Passive"/>
        <Page Table="esm" ItemName="SPS-N-5000"/>
        <Page Table="ecm" ItemName="KJS-5000 ECM"/>
        <Page Table="optical" ItemName="MSP-500"/>
        <Page Table="torpedo" ItemName="MU-90"/>
        <Page Table="missile" ItemName="RIM-116A RAM"/>
        <Page Table="ballistic_missile" ItemName="UGM-96A"/>
        <Page Table="ballistic" ItemName="KAB-500Kr"/>
        <Page Table="launcher_configuration" ItemName="RIM-116A RAM x21"/>
        <Page Table="stores" ItemName="76mm/62 mk75 240 rounds"/>
        <Page Table="magazine_loadout" ItemName=""/>
        <Page Table="air_complement" ItemName=""/>
        <Page Table="cm" ItemName="Dagaie D Flares"/>
        <Page Table="flightport" ItemName=""/>
        <Page Table="sonobuoy" ItemName=""/>
    </PageState>
    <SonarCalculation AutoUpdate="1" PlatformClass="Los Angeles (1988)" PlatformHeading="0" PlatformSpeed="0" PlatformDepth="5" TargetClass="ANZAC FFH" TargetDepth="3" SeaState="1" BottomDepth="4000" EnvironmentTemplate="NA-Summer" LaunchHeading="0" LaunchElevation="0" LaunchSpeed="5" LaunchAltitude="5" TargetHeading="0" TargetSpeed="0" TargetAltitude="50" TargetRange="50"/>
    <MissileCalculation/>
</Root>
